= form_for resource, as: resource_name, url: registration_path(resource_name), 
    html: {class: 'form-signup'} do |f|
  %h2.form-heading Sign up

  = f.control_group :email do
    = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'input-block-level'
    = f.error_messages_on :email

  = f.control_group :password do
    = f.password_field :password, autofocus: true, placeholder: 'Password', class: 'input-block-level'
    = f.error_messages_on :password

  = f.control_group :password_confirmation do
    = f.password_field :password_confirmation, autofocus: true, placeholder: 'Password confirmation', 
        class: 'input-block-level'
    = f.error_messages_on :password_confirmation

  %button.btn.btn-large.btn-primary{type: "submit"} Sign up
  %span.another-action
    or
    = link_to 'Sign in', new_user_session_path