= form_for Task.new, remote: true, html: { class: 'new-task form-horizontal' } do |f|
  = f.text_field :name, placeholder: 'Task name', maxlength: 255

  = f.hidden_field :priority
  = render 'priority_select', task: f.object

  = f.text_field :due_date_fmt, placeholder: 'mm/dd/yyyy', class: 'due-date'
  %button.btn(type="submit")
    %i.icon-plus-sign
    Add