%tr.task{id: dom_id(task), class: task.completed? && 'completed'}
  %td
    = form_tag complete_task_path(task), method: :post, remote: true, class: 'complete-task' do
      = check_box_tag :complete, '1', task.completed?
  %td
    = task.name
    - if task.completed?
      %span.label.label-success Completed
  %td= task_priority_label(task)
  %td= task.due_date.to_s(:month_date_year) if task.due_date
  %td.actions
    = link_to task, method: :delete, remote: true, confirm: 'Are you really want to remove?' do
      %i.icon-remove>
      Remove
